.accordion-wrapper {
  width: 100%;
  margin-top: 2rem;
}

.accordion {
  transition: .3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.accordion-expand {
  max-height: 600px;
  overflow: auto;
}

.accordion-title {
  transition: .3s ease-in-out;
  cursor: pointer;
}

.opacity {
  opacity: .5;
}