@import "w3.css";
@import "checkbox";
@import "animations";
@import "navigation";
@import "accordion";

body {
    background-color: #0000002B;;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.content-wrapper {
    max-width: 1000px;
    margin: auto;
    padding-top: 20px;
}

.clickable {
    cursor: pointer;
}

.root-wrapper {
    max-width: 1600px;
    min-width: 1000px;
    height: 100vh;
    margin: auto;
    overflow-y: scroll;
}

.notification {
    position: fixed;
    right: 50px;
}


.green {
    background-color: #286b0c;
    color: #dddddd;
}

.h100 {
    height: 100%;
}

.d-inline-block {
    display: inline-block;

}

.z2 {
    z-index: 2;
}